:root {
    --beige: #F5F5DC;
    --light-orange: #F2B279;
    --orange: #D96B43;
    --light-brown: #A66F5B;
    --dark-brown: #734343;
}

*:not(dialog) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--beige);
    padding: 20px;
}

#library-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 300px;
    gap: 20px;
    padding: 20px;
    background-color: var(--light-orange);
}

.book {
    background-color: var(--dark-brown);
    color: white;
    padding: 15px;
    box-shadow: 8px 5px 10px rgba(30, 30, 30, 0.4);
    border-radius: 5px;
    border-right: 7px solid rgb(220, 220, 220);
    border-bottom: 3px solid rgb(240, 240, 240);
    border-left: 6px solid hsl(from var(--dark-brown) h s calc(l - 10));
    overflow: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title, .author {
    text-align: center;
}

.title {
    font-size: 1.3rem;
    font-weight: bold;
}

dialog {
    border: none;
}

dialog::backdrop {
    filter: blur(3px);
    opacity: 0.8;
}